body{
    background-color: bisque;
}
#menu{
    background-color:aqua ;
}
#sidebar{
    background-color:rgb(178, 146, 19) ;
}
#sidebar{
    background-color:rgb(15, 231, 48) ;
}

#footer{
    background-color:rgb(42, 51, 61) ;
}